<ion-header>
  <ion-navbar>
    <ion-title>Məşq</ion-title>
  </ion-navbar>
</ion-header>

<ion-slides #slides pager="true">
  <ion-slide class="slide" *ngFor="let letter of randomArray">
    <ion-card class="letter">
      <img src="../assets/letters/{{ letter }}.png">
    </ion-card>

    <ion-item no-padding class="input-item">
      <ion-input type="text" [(ngModel)]="inputLetter" class="input-letter" required maxlength="1" max="1"></ion-input>
    </ion-item>

    <button ion-button text-center class="next-button" tappable (click)="next()">
      Növbəti 
    </button>

  </ion-slide>

  <ion-slide *ngIf="inputs[0]" class="results" >
    <h1 class="res-h1">Nəticələr</h1>

    <ion-list>
        <ion-item>
            <ion-grid class="res-h3">
              <ion-row>
                  <ion-col ion-item no-padding col-6 class="input"><h3 padding-left text-center style="color: #8e8e93;">Verilmiş</h3></ion-col>
                  <ion-col ion-item no-padding col-6 class="input"><h3 padding-left text-center style="color: #30d158;">Düzgün</h3></ion-col>
              </ion-row>
              <ion-row *ngFor="let correct of randomArray; let index = index;">
                  <ion-col ion-item no-padding col-6 class="input"><h3 padding-left text-center [ngStyle]="{'color': inputs[index] == randomArray[index]? '#34c759' : '#ff453a'}">{{ inputs[index] | uppercase}}</h3></ion-col>
                  <ion-col ion-item no-padding col-6 class="input"><h3 padding-left text-center style="color: #34c759;">{{ randomArray[index] | uppercase}}</h3></ion-col>
              </ion-row>
            </ion-grid> 
        </ion-item>
      </ion-list>
  </ion-slide>

</ion-slides>
